In [4]:
from pyspark import SparkContext

# # Loading data from csv to RDD

In [5]:
bnk1 = sc.textFile("/home/anil/Anil_Created_Docs/01.02.BID DATA/PySPark/anil_trading/data/6440633_01042019_06032020.csv")
bnk1.take(5)

In [7]:
bnk3 = bnk1.zipWithIndex().filter(lambda x : x[1] > 0).map(lambda x : x[0])
bnk3.take(5)

In [207]:
bnk2 = bnk1.map(lambda x : x.split(","))
bnk2.take(5)

# Loading data from csv to DataFrame

In [132]:
data_schema = [StructField('Date', StringType(), True)
               , StructField('Narration', StringType(), True)
               , StructField('Chq_Ref_No', StringType(), True)
               , StructField('Value_Date', StringType(), True)
               , StructField('Withdrawl_Amt', IntegerType(), True)
               , StructField('Deposit_Amt', IntegerType(), True)
               ,  StructField('Closing_Bal', IntegerType(), True)
              ,  StructField('Closing_Bal1', IntegerType(), True)]
final_struc = StructType(fields=data_schema)
df = spark.read.csv('/home/anil/Anil_Created_Docs/01.02.BID DATA/PySPark/anil_trading/data/6440633_01042019_06032020.csv', sep=",",header=True 
                    ,inferSchema=True
                    #, schema=final_struc
                   )

In [208]:
df.take(10)

[Row(Date='03/04/19', Narration='NEFT DR-UTIB0000558-ANILKUMAR MADANLAL CHOWDHARY-NETBANK, MUM-N093190792092343-SELF', Chq./Ref.No.='N093190792092343', Value Dt='03/04/19', Withdrawal Amt.=17000.0, Deposit Amt.=None, Closing Balance=305676.9),
 Row(Date='09/04/19', Narration='RD THROUGH NET-50400142916563  :MADANLAL ANIL KUMAR CHOWDHARY', Chq./Ref.No.='000000000000000', Value Dt='09/04/19', Withdrawal Amt.=10000.0, Deposit Amt.=None, Closing Balance=295676.9),
 Row(Date='09/04/19', Narration='RD THROUGH NET-50400142916793  :MADANLAL ANIL KUMAR CHOWDHARY', Chq./Ref.No.='000000000000000', Value Dt='09/04/19', Withdrawal Amt.=25000.0, Deposit Amt.=None, Closing Balance=270676.9),
 Row(Date='10/04/19', Narration='NET PO FROM HSL A/C 3403147-00602340029400', Chq./Ref.No.='0000000101141825', Value Dt='10/04/19', Withdrawal Amt.=None, Deposit Amt.=8168.86, Closing Balance=278845.76),
 Row(Date='11/04/19', Narration='QHDF7426999316/SBI CARDS', Chq./Ref.No.='0000191012962554', Value Dt='11/04/19', Withdrawal Amt.=7174.0, Deposit Amt.=None, Closing Balance=271671.76),
 Row(Date='13/04/19', Narration='ZP58660F8CC5CC5/ZAAKINDIANRAILWAYSCA', Chq./Ref.No.='0000191034662617', Value Dt='13/04/19', Withdrawal Amt.=2216.8, Deposit Amt.=None, Closing Balance=269454.96),
 Row(Date='13/04/19', Narration='20190413042423402304/PAYTMIRCTCECATERING', Chq./Ref.No.='0000191034681443', Value Dt='13/04/19', Withdrawal Amt.=842.78, Deposit Amt.=None, Closing Balance=268612.18),
 Row(Date='13/04/19', Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE', Chq./Ref.No.='0000000000008631', Value Dt='13/04/19', Withdrawal Amt.=20000.0, Deposit Amt.=None, Closing Balance=248612.18),
 Row(Date='13/04/19', Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE', Chq./Ref.No.='0000000000008632', Value Dt='13/04/19', Withdrawal Amt.=20000.0, Deposit Amt.=None, Closing Balance=228612.18),
 Row(Date='13/04/19', Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE', Chq./Ref.No.='0000000000008633', Value Dt='13/04/19', Withdrawal Amt.=10000.0, Deposit Amt.=None, Closing Balance=218612.18)]

In [135]:
df.select("Date","Closing Balance").collect()

[Row(Date='03/04/19', Closing Balance=305676.9),
 Row(Date='09/04/19', Closing Balance=295676.9),
 Row(Date='09/04/19', Closing Balance=270676.9),
 Row(Date='10/04/19', Closing Balance=278845.76),
 Row(Date='11/04/19', Closing Balance=271671.76),
 Row(Date='13/04/19', Closing Balance=269454.96),
 Row(Date='13/04/19', Closing Balance=268612.18),
 Row(Date='13/04/19', Closing Balance=248612.18),
 Row(Date='13/04/19', Closing Balance=228612.18),
 Row(Date='13/04/19', Closing Balance=218612.18),
 Row(Date='16/04/19', Closing Balance=187612.18),
 Row(Date='16/04/19', Closing Balance=156612.18),
 Row(Date='21/04/19', Closing Balance=156290.18),
 Row(Date='21/04/19', Closing Balance=155968.18),
 Row(Date='21/04/19', Closing Balance=135968.18),
 Row(Date='21/04/19', Closing Balance=115968.18),
 Row(Date='24/04/19', Closing Balance=25968.18),
 Row(Date='24/04/19', Closing Balance=16272.18),
 Row(Date='25/04/19', Closing Balance=12272.18),
 Row(Date='28/04/19', Closing Balance=11044.89),
 Row(Date='30/04/19', Closing Balance=195012.89),
 Row(Date='02/05/19', Closing Balance=184012.89),
 Row(Date='02/05/19', Closing Balance=178788.89),
 Row(Date='03/05/19', Closing Balance=78788.89),
 Row(Date='03/05/19', Closing Balance=78659.89),
 Row(Date='03/05/19', Closing Balance=78624.89),
 Row(Date='05/05/19', Closing Balance=78495.89),
 Row(Date='05/05/19', Closing Balance=78366.89),
 Row(Date='09/05/19', Closing Balance=77943.89),
 Row(Date='10/05/19', Closing Balance=67943.89),
 Row(Date='10/05/19', Closing Balance=42943.89),
 Row(Date='14/05/19', Closing Balance=42914.39),
 Row(Date='16/05/19', Closing Balance=41914.39),
 Row(Date='16/05/19', Closing Balance=40914.39),
 Row(Date='18/05/19', Closing Balance=39321.45),
 Row(Date='18/05/19', Closing Balance=39309.65),
 Row(Date='18/05/19', Closing Balance=37746.71),
 Row(Date='18/05/19', Closing Balance=37734.91),
 Row(Date='18/05/19', Closing Balance=37469.42),
 Row(Date='18/05/19', Closing Balance=37457.62),
 Row(Date='18/05/19', Closing Balance=37029.84),
 Row(Date='19/05/19', Closing Balance=36799.84),
 Row(Date='19/05/19', Closing Balance=36569.84),
 Row(Date='21/05/19', Closing Balance=36150.84),
 Row(Date='22/05/19', Closing Balance=26150.84),
 Row(Date='22/05/19', Closing Balance=19812.84),
 Row(Date='25/05/19', Closing Balance=15812.84),
 Row(Date='31/05/19', Closing Balance=199780.84),
 Row(Date='31/05/19', Closing Balance=179780.84),
 Row(Date='02/06/19', Closing Balance=168780.84),
 Row(Date='07/06/19', Closing Balance=168535.84),
 Row(Date='07/06/19', Closing Balance=168429.84),
 Row(Date='07/06/19', Closing Balance=128375.34),
 Row(Date='07/06/19', Closing Balance=83595.84),
 Row(Date='07/06/19', Closing Balance=83740.84),
 Row(Date='08/06/19', Closing Balance=82090.84),
 Row(Date='09/06/19', Closing Balance=80726.84),
 Row(Date='09/06/19', Closing Balance=70726.84),
 Row(Date='09/06/19', Closing Balance=45726.84),
 Row(Date='10/06/19', Closing Balance=45866.84),
 Row(Date='11/06/19', Closing Balance=44666.88),
 Row(Date='12/06/19', Closing Balance=39666.88),
 Row(Date='12/06/19', Closing Balance=19666.88),
 Row(Date='12/06/19', Closing Balance=9666.88),
 Row(Date='12/06/19', Closing Balance=19666.88),
 Row(Date='12/06/19', Closing Balance=19774.28),
 Row(Date='14/06/19', Closing Balance=20364.28),
 Row(Date='14/06/19', Closing Balance=10364.28),
 Row(Date='18/06/19', Closing Balance=9749.28),
 Row(Date='18/06/19', Closing Balance=9096.99),
 Row(Date='20/06/19', Closing Balance=41389.97),
 Row(Date='26/06/19', Closing Balance=37389.97),
 Row(Date='27/06/19', Closing Balance=37014.97),
 Row(Date='28/06/19', Closing Balance=204110.97),
 Row(Date='28/06/19', Closing Balance=184110.97),
 Row(Date='28/06/19', Closing Balance=194110.97),
 Row(Date='28/06/19', Closing Balance=187790.97),
 Row(Date='30/06/19', Closing Balance=167790.97),
 Row(Date='30/06/19', Closing Balance=147790.97),
 Row(Date='30/06/19', Closing Balance=148711.97),
 Row(Date='03/07/19', Closing Balance=137711.97),
 Row(Date='05/07/19', Closing Balance=137361.97),
 Row(Date='07/07/19', Closing Balance=122361.97),
 Row(Date='08/07/19', Closing Balance=95081.97),
 Row(Date='10/07/19', Closing Balance=85081.97),
 Row(Date='10/07/19', Closing Balance=60081.97),
 Row(Date='16/07/19', Closing Balance=60196.97),
 Row(Date='19/07/19', Closing Balance=58396.97),
 Row(Date='20/07/19', Closing Balance=37141.97),
 Row(Date='22/07/19', Closing Balance=36911.97),
 Row(Date='22/07/19', Closing Balance=36681.97),
 Row(Date='24/07/19', Closing Balance=34881.97),
 Row(Date='26/07/19', Closing Balance=30881.97),
 Row(Date='28/07/19', Closing Balance=28361.97),
 Row(Date='28/07/19', Closing Balance=25761.97),
 Row(Date='29/07/19', Closing Balance=16804.97),
 Row(Date='29/07/19', Closing Balance=16635.97),
 Row(Date='31/07/19', Closing Balance=175086.97),
 Row(Date='01/08/19', Closing Balance=158086.97),
 Row(Date='02/08/19', Closing Balance=157836.97),
 Row(Date='03/08/19', Closing Balance=146836.97),
 Row(Date='03/08/19', Closing Balance=126836.97),
 Row(Date='03/08/19', Closing Balance=124836.97),
 Row(Date='03/08/19', Closing Balance=106836.97),
 Row(Date='03/08/19', Closing Balance=104184.52),
 Row(Date='04/08/19', Closing Balance=103879.52),
 Row(Date='05/08/19', Closing Balance=103649.52),
 Row(Date='06/08/19', Closing Balance=77437.52),
 Row(Date='08/08/19', Closing Balance=235727.52),
 Row(Date='10/08/19', Closing Balance=225727.52),
 Row(Date='10/08/19', Closing Balance=200727.52),
 Row(Date='10/08/19', Closing Balance=188727.52),
 Row(Date='15/08/19', Closing Balance=178727.52),
 Row(Date='15/08/19', Closing Balance=177849.74),
 Row(Date='15/08/19', Closing Balance=177616.96),
 Row(Date='15/08/19', Closing Balance=176729.18),
 Row(Date='16/08/19', Closing Balance=175781.4),
 Row(Date='16/08/19', Closing Balance=50781.4),
 Row(Date='16/08/19', Closing Balance=50382.4),
 Row(Date='20/08/19', Closing Balance=51007.4),
 Row(Date='22/08/19', Closing Balance=51027.4),
 Row(Date='23/08/19', Closing Balance=49027.4),
 Row(Date='25/08/19', Closing Balance=37347.4),
 Row(Date='25/08/19', Closing Balance=33347.4),
 Row(Date='25/08/19', Closing Balance=31064.62),
 Row(Date='28/08/19', Closing Balance=9809.62),
 Row(Date='29/08/19', Closing Balance=9837.12),
 Row(Date='30/08/19', Closing Balance=7068.46),
 Row(Date='30/08/19', Closing Balance=189073.46),
 Row(Date='30/08/19', Closing Balance=178079.46),
 Row(Date='30/08/19', Closing Balance=161079.46),
 Row(Date='30/08/19', Closing Balance=141079.46),
 Row(Date='30/08/19', Closing Balance=121079.46),
 Row(Date='03/09/19', Closing Balance=110079.46),
 Row(Date='03/09/19', Closing Balance=122079.46),
 Row(Date='04/09/19', Closing Balance=121773.46),
 Row(Date='09/09/19', Closing Balance=56109.46),
 Row(Date='10/09/19', Closing Balance=46109.46),
 Row(Date='10/09/19', Closing Balance=21109.46),
 Row(Date='10/09/19', Closing Balance=20787.46),
 Row(Date='11/09/19', Closing Balance=15705.51),
 Row(Date='12/09/19', Closing Balance=14505.55),
 Row(Date='12/09/19', Closing Balance=139505.55),
 Row(Date='12/09/19', Closing Balance=139806.55),
 Row(Date='12/09/19', Closing Balance=59806.55),
 Row(Date='12/09/19', Closing Balance=39806.55),
 Row(Date='12/09/19', Closing Balance=59806.55),
 Row(Date='12/09/19', Closing Balance=49806.55),
 Row(Date='12/09/19', Closing Balance=29806.55),
 Row(Date='12/09/19', Closing Balance=15806.55),
 Row(Date='15/09/19', Closing Balance=13157.1),
 Row(Date='16/09/19', Closing Balance=12927.1),
 Row(Date='17/09/19', Closing Balance=12752.11),
 Row(Date='17/09/19', Closing Balance=12577.12),
 Row(Date='20/09/19', Closing Balance=6000.69),
 Row(Date='20/09/19', Closing Balance=86000.69),
 Row(Date='20/09/19', Closing Balance=86044.69),
 Row(Date='20/09/19', Closing Balance=86207.88),
 Row(Date='21/09/19', Closing Balance=86219.68),
 Row(Date='24/09/19', Closing Balance=58489.36),
 Row(Date='26/09/19', Closing Balance=54489.36),
 Row(Date='26/09/19', Closing Balance=49033.87),
 Row(Date='26/09/19', Closing Balance=43767.87),
 Row(Date='26/09/19', Closing Balance=43445.87),
 Row(Date='26/09/19', Closing Balance=43276.87),
 Row(Date='27/09/19', Closing Balance=30234.66),
 Row(Date='29/09/19', Closing Balance=20234.66),
 Row(Date='30/09/19', Closing Balance=201469.66),
 Row(Date='30/09/19', Closing Balance=181469.66),
 Row(Date='30/09/19', Closing Balance=161469.66),
 Row(Date='01/10/19', Closing Balance=162163.66),
 Row(Date='01/10/19', Closing Balance=161237.14),
 Row(Date='02/10/19', Closing Balance=160438.67),
 Row(Date='03/10/19', Closing Balance=149438.67),
 Row(Date='03/10/19', Closing Balance=99467.4),
 Row(Date='06/10/19', Closing Balance=99162.4),
 Row(Date='06/10/19', Closing Balance=82441.4),
 Row(Date='07/10/19', Closing Balance=85288.4),
 Row(Date='09/10/19', Closing Balance=85293.5),
 Row(Date='09/10/19', Closing Balance=85296.6),
 Row(Date='09/10/19', Closing Balance=84974.6),
 Row(Date='10/10/19', Closing Balance=74974.6),
 Row(Date='10/10/19', Closing Balance=49974.6),
 Row(Date='10/10/19', Closing Balance=49948.6),
 Row(Date='14/10/19', Closing Balance=40181.81),
 Row(Date='14/10/19', Closing Balance=40152.31),
 Row(Date='14/10/19', Closing Balance=140152.31),
 Row(Date='14/10/19', Closing Balance=142937.81),
 Row(Date='14/10/19', Closing Balance=32937.81),
 Row(Date='17/10/19', Closing Balance=42988.72),
 Row(Date='19/10/19', Closing Balance=42708.72),
 Row(Date='20/10/19', Closing Balance=40708.72),
 Row(Date='24/10/19', Closing Balance=39677.27),
 Row(Date='24/10/19', Closing Balance=40077.27),
 Row(Date='24/10/19', Closing Balance=40127.27),
 Row(Date='25/10/19', Closing Balance=34476.04),
 Row(Date='26/10/19', Closing Balance=30476.04),
 Row(Date='27/10/19', Closing Balance=24476.04),
 Row(Date='29/10/19', Closing Balance=18549.53),
 Row(Date='30/10/19', Closing Balance=8549.53),
 Row(Date='30/10/19', Closing Balance=8153.53),
 Row(Date='30/10/19', Closing Balance=7757.53),
 Row(Date='30/10/19', Closing Balance=7717.53),
 Row(Date='31/10/19', Closing Balance=188952.53),
 Row(Date='31/10/19', Closing Balance=164387.53),
 Row(Date='31/10/19', Closing Balance=157387.53),
 Row(Date='01/11/19', Closing Balance=192535.08),
 Row(Date='01/11/19', Closing Balance=172535.08),
 Row(Date='01/11/19', Closing Balance=152535.08),
 Row(Date='02/11/19', Closing Balance=160237.26),
 Row(Date='02/11/19', Closing Balance=97537.26),
 Row(Date='02/11/19', Closing Balance=97554.01),
 Row(Date='02/11/19', Closing Balance=97555.01),
 Row(Date='02/11/19', Closing Balance=97156.01),
 Row(Date='03/11/19', Closing Balance=86156.01),
 Row(Date='03/11/19', Closing Balance=84290.01),
 Row(Date='04/11/19', Closing Balance=80407.01),
 Row(Date='04/11/19', Closing Balance=77407.01),
 Row(Date='04/11/19', Closing Balance=109867.08),
 Row(Date='05/11/19', Closing Balance=97164.08),
 Row(Date='06/11/19', Closing Balance=96891.08),
 Row(Date='06/11/19', Closing Balance=102358.13),
 Row(Date='08/11/19', Closing Balance=90358.13),
 Row(Date='08/11/19', Closing Balance=92718.13),
 Row(Date='10/11/19', Closing Balance=82718.13),
 Row(Date='10/11/19', Closing Balance=57718.13),
 Row(Date='11/11/19', Closing Balance=39821.05),
 Row(Date='11/11/19', Closing Balance=39526.05),
 Row(Date='12/11/19', Closing Balance=39082.05),
 Row(Date='12/11/19', Closing Balance=38912.06),
 Row(Date='12/11/19', Closing Balance=38712.07),
 Row(Date='15/11/19', Closing Balance=41376.54),
 Row(Date='20/11/19', Closing Balance=45397.48),
 Row(Date='21/11/19', Closing Balance=44422.08),
 Row(Date='22/11/19', Closing Balance=45742.08),
 Row(Date='22/11/19', Closing Balance=35742.08),
 Row(Date='24/11/19', Closing Balance=25742.08),
 Row(Date='24/11/19', Closing Balance=15742.08),
 Row(Date='26/11/19', Closing Balance=11742.08),
 Row(Date='26/11/19', Closing Balance=12182.08),
 Row(Date='26/11/19', Closing Balance=13412.08),
 Row(Date='29/11/19', Closing Balance=196612.08),
 Row(Date='01/12/19', Closing Balance=192269.08),
 Row(Date='01/12/19', Closing Balance=204269.08),
 Row(Date='02/12/19', Closing Balance=184269.08),
 Row(Date='02/12/19', Closing Balance=164269.08),
 Row(Date='03/12/19', Closing Balance=153269.08),
 Row(Date='03/12/19', Closing Balance=160669.08),
 Row(Date='04/12/19', Closing Balance=132714.58),
 Row(Date='04/12/19', Closing Balance=100035.08),
 Row(Date='04/12/19', Closing Balance=80648.08),
 Row(Date='05/12/19', Closing Balance=75189.36),
 Row(Date='06/12/19', Closing Balance=74919.36),
 Row(Date='06/12/19', Closing Balance=70919.36),
 Row(Date='08/12/19', Closing Balance=124045.96),
 Row(Date='08/12/19', Closing Balance=125966.76),
 Row(Date='08/12/19', Closing Balance=125951.16),
 Row(Date='08/12/19', Closing Balance=105951.16),
 Row(Date='08/12/19', Closing Balance=85951.16),
 Row(Date='08/12/19', Closing Balance=75951.16),
 Row(Date='09/12/19', Closing Balance=71581.16),
 Row(Date='10/12/19', Closing Balance=61581.16),
 Row(Date='10/12/19', Closing Balance=36581.16),
 Row(Date='12/12/19', Closing Balance=35381.2),
 Row(Date='12/12/19', Closing Balance=34181.24),
 Row(Date='12/12/19', Closing Balance=33886.24),
 Row(Date='12/12/19', Closing Balance=32247.24),
 Row(Date='12/12/19', Closing Balance=30887.24),
 Row(Date='12/12/19', Closing Balance=40787.24),
 Row(Date='13/12/19', Closing Balance=54530.49),
 Row(Date='14/12/19', Closing Balance=54186.49),
 Row(Date='14/12/19', Closing Balance=53842.49),
 Row(Date='15/12/19', Closing Balance=33842.49),
 Row(Date='15/12/19', Closing Balance=28842.49),
 Row(Date='17/12/19', Closing Balance=28430.67),
 Row(Date='18/12/19', Closing Balance=29605.67),
 Row(Date='19/12/19', Closing Balance=29630.63),
 Row(Date='22/12/19', Closing Balance=28841.95),
 Row(Date='22/12/19', Closing Balance=26529.95),
 Row(Date='23/12/19', Closing Balance=16529.95),
 Row(Date='26/12/19', Closing Balance=12529.95),
 Row(Date='27/12/19', Closing Balance=11355.81),
 Row(Date='27/12/19', Closing Balance=10588.37),
 Row(Date='27/12/19', Closing Balance=9820.93),
 Row(Date='29/12/19', Closing Balance=8932.93),
 Row(Date='31/12/19', Closing Balance=192131.93),
 Row(Date='31/12/19', Closing Balance=182749.93),
 Row(Date='31/12/19', Closing Balance=172749.93),
 Row(Date='31/12/19', Closing Balance=152749.93),
 Row(Date='31/12/19', Closing Balance=132749.93),
 Row(Date='01/01/20', Closing Balance=133265.93),
 Row(Date='02/01/20', Closing Balance=129265.93),
 Row(Date='02/01/20', Closing Balance=109265.93),
 Row(Date='02/01/20', Closing Balance=104265.93),
 Row(Date='03/01/20', Closing Balance=93265.93),
 Row(Date='03/01/20', Closing Balance=81265.93),
 Row(Date='05/01/20', Closing Balance=81065.93),
 Row(Date='05/01/20', Closing Balance=80865.93),
 Row(Date='05/01/20', Closing Balance=80665.93),
 Row(Date='05/01/20', Closing Balance=80465.93),
 Row(Date='06/01/20', Closing Balance=78165.93),
 Row(Date='06/01/20', Closing Balance=67784.93),
 Row(Date='06/01/20', Closing Balance=64784.93),
 Row(Date='06/01/20', Closing Balance=64511.93),
 Row(Date='07/01/20', Closing Balance=75110.9),
 Row(Date='07/01/20', Closing Balance=74308.7),
 Row(Date='08/01/20', Closing Balance=69354.54),
 Row(Date='09/01/20', Closing Balance=62098.06),
 Row(Date='10/01/20', Closing Balance=52098.06),
 Row(Date='10/01/20', Closing Balance=27098.06),
 Row(Date='10/01/20', Closing Balance=27068.56),
 Row(Date='11/01/20', Closing Balance=17068.56),
 Row(Date='13/01/20', Closing Balance=24483.48),
 Row(Date='17/01/20', Closing Balance=24478.48),
 Row(Date='18/01/20', Closing Balance=23867.02),
 Row(Date='23/01/20', Closing Balance=15837.88),
 Row(Date='23/01/20', Closing Balance=15611.25),
 Row(Date='26/01/20', Closing Balance=11611.25),
 Row(Date='27/01/20', Closing Balance=11462.25),
 Row(Date='29/01/20', Closing Balance=9123.93),
 Row(Date='29/01/20', Closing Balance=8960.53),
 Row(Date='29/01/20', Closing Balance=9130.53),
 Row(Date='31/01/20', Closing Balance=192329.53),
 Row(Date='31/01/20', Closing Balance=189678.53),
 Row(Date='31/01/20', Closing Balance=199678.53),
 Row(Date='31/01/20', Closing Balance=189678.53),
 Row(Date='01/02/20', Closing Balance=169678.53),
 Row(Date='01/02/20', Closing Balance=149678.53),
 Row(Date='01/02/20', Closing Balance=161678.53),
 Row(Date='01/02/20', Closing Balance=158678.53),
 Row(Date='02/02/20', Closing Balance=153678.53),
 Row(Date='02/02/20', Closing Balance=142678.53),
 Row(Date='03/02/20', Closing Balance=52766.72),
 Row(Date='03/02/20', Closing Balance=52466.72),
 Row(Date='04/02/20', Closing Balance=41984.03),
 Row(Date='04/02/20', Closing Balance=38984.03),
 Row(Date='05/02/20', Closing Balance=145759.23),
 Row(Date='05/02/20', Closing Balance=55759.23),
 Row(Date='06/02/20', Closing Balance=175759.23),
 Row(Date='06/02/20', Closing Balance=197264.6),
 Row(Date='07/02/20', Closing Balance=165730.6),
 Row(Date='07/02/20', Closing Balance=48930.6),
 Row(Date='08/02/20', Closing Balance=68987.3),
 Row(Date='10/02/20', Closing Balance=58987.3),
 Row(Date='10/02/20', Closing Balance=33987.3),
 Row(Date='11/02/20', Closing Balance=33432.3),
 Row(Date='13/02/20', Closing Balance=28982.3),
 Row(Date='13/02/20', Closing Balance=18274.63),
 Row(Date='13/02/20', Closing Balance=17920.63),
 Row(Date='14/02/20', Closing Balance=15620.63),
 Row(Date='14/02/20', Closing Balance=15720.63),
 Row(Date='18/02/20', Closing Balance=15376.63),
 Row(Date='19/02/20', Closing Balance=8626.63),
 Row(Date='20/02/20', Closing Balance=7826.63),
 Row(Date='24/02/20', Closing Balance=7677.63),
 Row(Date='24/02/20', Closing Balance=12677.63),
 Row(Date='25/02/20', Closing Balance=30781.32),
 Row(Date='26/02/20', Closing Balance=26781.32),
 Row(Date='28/02/20', Closing Balance=223090.32),
 Row(Date='28/02/20', Closing Balance=203090.32),
 Row(Date='28/02/20', Closing Balance=183090.32),
 Row(Date='28/02/20', Closing Balance=173090.32),
 Row(Date='29/02/20', Closing Balance=166838.32),
 Row(Date='03/03/20', Closing Balance=155838.32),
 Row(Date='03/03/20', Closing Balance=150838.32),
 Row(Date='04/03/20', Closing Balance=150538.32),
 Row(Date='04/03/20', Closing Balance=147538.32)]

In [ ]:
df.selectExpr()
#https://stackoverflow.com/questions/34803855/pyspark-dataframe-udf-on-text-column?rq=1

In [14]:
df.show()

+--------+--------------------+----------------+--------+---------------+------------+---------------+
|    Date|           Narration|    Chq./Ref.No.|Value Dt|Withdrawal Amt.|Deposit Amt.|Closing Balance|
+--------+--------------------+----------------+--------+---------------+------------+---------------+
|03/04/19|NEFT DR-UTIB00005...|N093190792092343|03/04/19|          17000|        null|       305676.9|
|09/04/19|RD THROUGH NET-50...| 000000000000000|09/04/19|          10000|        null|       295676.9|
|09/04/19|RD THROUGH NET-50...| 000000000000000|09/04/19|          25000|        null|       270676.9|
|10/04/19|NET PO FROM HSL A...|0000000101141825|10/04/19|           null|     8168.86|      278845.76|
|11/04/19|QHDF7426999316/SB...|0000191012962554|11/04/19|           7174|        null|      271671.76|
|13/04/19|ZP58660F8CC5CC5/Z...|0000191034662617|13/04/19|         2216.8|        null|      269454.96|
|13/04/19|20190413042423402...|0000191034681443|13/04/19|         842.78|        null|      268612.18|
|13/04/19|ATW-416021XXXXXX5...|0000000000008631|13/04/19|          20000|        null|      248612.18|
|13/04/19|ATW-416021XXXXXX5...|0000000000008632|13/04/19|          20000|        null|      228612.18|
|13/04/19|ATW-416021XXXXXX5...|0000000000008633|13/04/19|          10000|        null|      218612.18|
|16/04/19|CHQ PAID-MICR CTS...|0000000000000140|16/04/19|          31000|        null|      187612.18|
|16/04/19|CHQ PAID-MICR CTS...|0000000000000141|16/04/19|          31000|        null|      156612.18|
|21/04/19| 780165456/EBSAPSRTC|0000191111496473|21/04/19|            322|        null|      156290.18|
|21/04/19| 780168134/EBSAPSRTC|0000191111501713|21/04/19|            322|        null|      155968.18|
|21/04/19|ATW-416021XXXXXX5...|0000000000000075|21/04/19|          20000|        null|      135968.18|
|21/04/19|ATW-416021XXXXXX5...|0000000000000076|21/04/19|          20000|        null|      115968.18|
|24/04/19|NEFT DR-UTIB00005...|N114190808085572|24/04/19|          90000|        null|       25968.18|
|24/04/19|IB BILLPAY DR-HDF...|IB24111631098990|24/04/19|           9696|        null|       16272.18|
|25/04/19|RD THROUGH NET-50...| 000000000000000|25/04/19|           4000|        null|       12272.18|
|28/04/19|20190428044167425...|0000191187892161|28/04/19|        1227.29|        null|       11044.89|
+--------+--------------------+----------------+--------+---------------+------------+---------------+
only showing top 20 rows

In [23]:
df.select("Narration").collect()

[Row(Narration='NEFT DR-UTIB0000558-ANILKUMAR MADANLAL CHOWDHARY-NETBANK, MUM-N093190792092343-SELF'),
 Row(Narration='RD THROUGH NET-50400142916563  :MADANLAL ANIL KUMAR CHOWDHARY'),
 Row(Narration='RD THROUGH NET-50400142916793  :MADANLAL ANIL KUMAR CHOWDHARY'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='QHDF7426999316/SBI CARDS'),
 Row(Narration='ZP58660F8CC5CC5/ZAAKINDIANRAILWAYSCA'),
 Row(Narration='20190413042423402304/PAYTMIRCTCECATERING'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='CHQ PAID-MICR CTS-CH-DELHI PUBLIC SCHOOL'),
 Row(Narration='CHQ PAID-MICR CTS-CH-DELHI PUBLIC SCHOOL'),
 Row(Narration='780165456/EBSAPSRTC'),
 Row(Narration='780168134/EBSAPSRTC'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='NEFT DR-UTIB0000558-ANILKUMAR MADANLAL CHOWDHARY-NETBANK, MUM-N114190808085572-SELF'),
 Row(Narration='IB BILLPAY DR-HDFCPE-545964XXXXXX1449'),
 Row(Narration='RD THROUGH NET-50400144204172  :MADANLAL ANIL KUMAR CHOWDHARY'),
 Row(Narration='20190428044167425133/PAYTMIRCTCECATERING'),
 Row(Narration='00772320000015SAL CREDIT FOR APR19'),
 Row(Narration='RD THROUGH NET-50400144769413  :MADANLAL ANIL KUMAR CHOWDHARY'),
 Row(Narration='QHDF7498690986/SBI CARDS'),
 Row(Narration='CHQ PAID-MICR CTS-CH-NEETHU KUMARI'),
 Row(Narration='HGA1P11E890013175299-AIRTELPREPAID-BILLP-04992990009335'),
 Row(Narration='HGA1P1549A0013175334-AIRTELPREPAID-BILLP-04992990009335'),
 Row(Narration='HGA1P164080013351388-AIRTELPREPAID-BILLP-04992990009335'),
 Row(Narration='HGA1P157B40013351460-AIRTELPREPAID-BILLP-04992990009335'),
 Row(Narration='795670776/EBSAPSRTC'),
 Row(Narration='50400142916563- RD INSTALLMENT-MAY 2019'),
 Row(Narration='50400142916793- RD INSTALLMENT-MAY 2019'),
 Row(Narration='DEPOSITORY CHARGES APR19 - 5421713'),
 Row(Narration='LUSXQ74JBNZKHOW2/PAYUMONEY'),
 Row(Narration='LUSXQ74KAVZKJPOW/PAYUMONEY'),
 Row(Narration='100001841491517/IRCTC_NEW'),
 Row(Narration='100001841491517/IRCTC_NEW'),
 Row(Narration='100001841491530/IRCTC_NEW'),
 Row(Narration='100001841491530/IRCTC_NEW'),
 Row(Narration='100001841491621/IRCTC_NEW'),
 Row(Narration='100001841491621/IRCTC_NEW'),
 Row(Narration='20190518046963234978/PAYTMIRCTCECATERING'),
 Row(Narration='CXNKUKDSWGLPJB/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='CXNVK3DEMIKD0P/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='LUSXU4EJBN5K7OW2/PAYUAGGREPAYPAYMENTS'),
 Row(Narration='NEFT DR-UTIB0000558-ANILKUMAR MADANLAL CHOWDHARY-NETBANK, MUM-N142190831353958-SELF'),
 Row(Narration='IB BILLPAY DR-HDFCPE-545964XXXXXX1449'),
 Row(Narration='50400144204172- RD INSTALLMENT-MAY 2019'),
 Row(Narration='00772320000015SALARY CREDIT FOR MAY 19'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='50400144769413- RD INSTALLMENT-JUN 2019'),
 Row(Narration='HGA1P10F1D0016202684-AIRTELPREPAID-BILLP-04992990009335'),
 Row(Narration='QHDF7622003892/SBI CARDS'),
 Row(Narration='CERSPZ6RFJLQTY/RAZPDPSBENGALURU'),
 Row(Narration='CERXBDFODWR80D/RAZPDPSBENGALURU'),
 Row(Narration='IRCTC_CRIS REF-18/05/19-100001841491621'),
 Row(Narration='819782915/TECHREDBUS'),
 Row(Narration='QHDF7629525506/BILLDKQUICKHEALTECHN'),
 Row(Narration='50400142916563- RD INSTALLMENT-JUN 2019'),
 Row(Narration='50400142916793- RD INSTALLMENT-JUN 2019'),
 Row(Narration='REF-PAYTM-20190518046963234978-18/5/19'),
 Row(Narration='20190611049594032627/PAYTM'),
 Row(Narration='CHQ PAID-MICR CTS-CH-SWAPNA D'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='IB FD PREMAT PRINCIPAL-50300322568523'),
 Row(Narration='IB FD PREMAT INT PAID-50300322568523'),
 Row(Narration='REF-PAYTM-20190413042423402304-13/4/19'),
 Row(Narration='00761610015950-TPT-LOAN TO FRIEND'),
 Row(Narration='828032809/TECHREDBUS'),
 Row(Narration='20190618050402783011/PAYTMIRCTCECATERING'),
 Row(Narration='NEFT CR-SOGE0INBB01-SG GSC PVT LTD-MADANLAL ANIL KUMAR CHOWDHARY-000000403153'),
 Row(Narration='50400144204172- RD INSTALLMENT-JUN 2019'),
 Row(Narration='ZP58C4D4A6C232A/ZAAKINSTAMOJOTECHNOL'),
 Row(Narration='00772320000015SALARY CREDIT FOR JUN 19'),
 Row(Narration='NEFT DR-UTIB0000558-ANILKUMAR MADANLAL CHOWDHARY-NETBANK, MUM-N179190861223564-SELF'),
 Row(Narration='00761610015950-TPT-PAYING CREDIT'),
 Row(Narration='IB BILLPAY DR-HDFCPE-545964XXXXXX1449'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='CREDIT INTEREST CAPITALISED'),
 Row(Narration='50400144769413- RD INSTALLMENT-JUL 2019'),
 Row(Narration='843030361/TECHTATASKY'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='QHDF7733821858/SBI CARDS'),
 Row(Narration='50400142916563- RD INSTALLMENT-JUL 2019'),
 Row(Narration='50400142916793- RD INSTALLMENT-JUL 2019'),
 Row(Narration='ACH C- ITC LIMITED-602473'),
 Row(Narration='CHQ PAID-MICR CTS-CH-PAN SCHL'),
 Row(Narration='CHQ PAID-MICR CTS-CH-CRAZY HOLIDAYS'),
 Row(Narration='CWL2WRJDSJZHJJ/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='CWLU6UCDHIPPBW/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='CHQ PAID-MICR CTS-CH-PAN SCHOOL EDUCATIO'),
 Row(Narration='50400144204172- RD INSTALLMENT-JUL 2019'),
 Row(Narration='POS 416021XXXXXX5238 IRCTC POS DEBIT'),
 Row(Narration='POS 416021XXXXXX5238 IRCTC POS DEBIT'),
 Row(Narration='IB BILLPAY DR-HDFCPE-545964XXXXXX1449'),
 Row(Narration='HGA1P05E5D0021016618-AIRTELPREPAID-BILLP-04992990009335'),
 Row(Narration='00772320000015SALARY CREDIT FOR JUL 19'),
 Row(Narration='NEFT DR-UTIB0000558-ANILKUMAR MADANLAL CHOWDHARY-NETBANK, MUM-N213190889901246-SELF'),
 Row(Narration='D13YRHGTCA2ZVM/RAZPBOUNCESHARE'),
 Row(Narration='50400144769413- RD INSTALLMENT-AUG 2019'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='POS 416021XXXXXX5238 INDIAN RAILWAY C POS DEBIT'),
 Row(Narration='867696682/TECHTATASKY'),
 Row(Narration='D2EMEXQT8MSCVF/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='QHDF7840198597/SBI CARDS'),
 Row(Narration='00602300000434-011085484'),
 Row(Narration='50400142916563- RD INSTALLMENT-AUG 2019'),
 Row(Narration='50400142916793- RD INSTALLMENT-AUG 2019'),
 Row(Narration='00761610015950-TPT-FRIENDLY LOAN'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='20190815126625184758/PAYTMIRCTCECATERING'),
 Row(Narration='20190815057083134697/PAYTMIRCTCECATERING'),
 Row(Narration='20190815126640435751/PAYTMIRCTCECATERING'),
 Row(Narration='20190816126671108253/PAYTMIRCTCECATERING'),
 Row(Narration='FD THROUGH NET-50300358990475:MADANLAL ANIL KUMAR CHOWDHARY'),
 Row(Narration='QHDF7878066089/BILLDKRELIANCEJIOINF'),
 Row(Narration='REF-PAYTM-20190815126625184758-15/8/19'),
 Row(Narration='REF-PAYTM-20190815057083134697-15/8/19'),
 Row(Narration='ATW-416021XXXXXX5238-S1ANBG62-BANGALORE-URB'),
 Row(Narration='051030825081900474- CBDT TAX'),
 Row(Narration='50400144204172- RD INSTALLMENT-AUG 2019'),
 Row(Narration='20190825057698147206/PAYTMIRCTCECATERING'),
 Row(Narration='CHQ PAID-MICR CTS-CH-CRAZY HOLIDAYS'),
 Row(Narration='2908106812 SUN PHARMA IND LTD DIV 18 19'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='00772320000015SALARY CREDIT FOR AUG 19'),
 Row(Narration='IB BILLPAY DR-HDFCPE-545964XXXXXX1449'),
 Row(Narration='NEFT DR-UTIB0000558-ANILKUMAR MADANLAL CHOWDHARY-NETBANK, MUM-N242190913669125-SELF'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='50400144769413- RD INSTALLMENT-SEP 2019'),
 Row(Narration='00762470027694-TPT-PAYING CREDIT'),
 Row(Narration='890508381/TECHTATASKY'),
 Row(Narration='QHDF7962682449/SBI CARDS'),
 Row(Narration='50400142916563- RD INSTALLMENT-SEP 2019'),
 Row(Narration='50400142916793- RD INSTALLMENT-SEP 2019'),
 Row(Narration='895245906/EBSAPSRTC'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='20190912059690770204/PAYTM'),
 Row(Narration='IB FD PREMAT PRINCIPAL-50300358990475'),
 Row(Narration='IB FD PREMAT INT PAID-50300358990475'),
 Row(Narration='FD THROUGH NET-50300366480651:MADANLAL ANIL KUMAR CHOWDHARY'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBU62-BANGALORE-URB'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBU62-BANGALORE-URB'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBU62-BANGALORE-URB'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBU62-BANGALORE-URB'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBU62-BANGALORE-URB'),
 Row(Narration='DIXUNCMV9OPQMA/RAZPTREEBOCOM'),
 Row(Narration='DIUFUPVMYPHHAV/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='20190917060706532469/PAYTMIRCTCECATERING'),
 Row(Narration='20190917060428723506/PAYTMIRCTCECATERING'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='IB FD PREMAT PRINCIPAL-50300366480651'),
 Row(Narration='IB FD PREMAT INT PAID-50300366480651'),
 Row(Narration='REF-PAYTM-20190917060706532469-17/9/19'),
 Row(Narration='REF-PAYTM-20190917060706532469-17/9/19'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='50400144204172- RD INSTALLMENT-SEP 2019'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='IB BILLPAY DR-HDFCPE-545964XXXXXX1449'),
 Row(Narration='908532893/EBSAPSRTC'),
 Row(Narration='HGA1P059620027919305-AIRTELPREPAID-BILLP-04992990009335'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='00772320000015SALARY CREDIT FOR SEP 19'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='CREDIT INTEREST CAPITALISED'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='POS 416021XXXXXX5238 MORE, POS DEBIT'),
 Row(Narration='50400144769413- RD INSTALLMENT-OCT 2019'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='916521326/TECHTATASKY'),
 Row(Narration='RHDF8064622377/SBI CARDS'),
 Row(Narration='NEFT CR-SOGE0INBB01-SG GSC PVT LTD-ANIL CHOWDHARY-000000443380'),
 Row(Narration='50300268025581   : AUTO BC LIQUIDATION'),
 Row(Narration='50300211224262   : AUTO BC LIQUIDATION'),
 Row(Narration='918702981/EBSAPSRTC'),
 Row(Narration='50400142916563- RD INSTALLMENT-OCT 2019'),
 Row(Narration='50400142916793- RD INSTALLMENT-OCT 2019'),
 Row(Narration='POS 416021XXXXXX5238 TEA, POS DEBIT'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='DEPOSITORY CHARGES SEP19 - 5421713'),
 Row(Narration='IB FD PREMAT PRINCIPAL-50300322568944'),
 Row(Narration='IB FD PREMAT INT PAID-50300322568944'),
 Row(Narration='NEFT DR-PUNB0107900-RIDHI SIDHI-NETBANK, MUM-N287190953061682-LOAN TO FATHER'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='DVZDYVPZYKJRSO/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='ATW-416021XXXXXX5238-E1AWBG05-BANGALORE'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='ACH C- TCS SPDIV 24102019-C2013008601301'),
 Row(Narration='ACH C- TCS2NDINTDIV241019-C2003008601301'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='50400144204172- RD INSTALLMENT-OCT 2019'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='NEFT DR-SBIN0003308-HOLIDAY RESORTS-NETBANK, MUM-N303190966731327-TRIP PAYMENT'),
 Row(Narration='934980436/EBSAPSRTC'),
 Row(Narration='934982464/EBSAPSRTC'),
 Row(Narration='POS 416021XXXXXX5238 CHAI POINT POS DEBIT'),
 Row(Narration='00772320000015SALARY CREDIT FOR OCT 19'),
 Row(Narration='IB BILLPAY DR-HDFCPE-545964XXXXXX1449'),
 Row(Narration='NEFT DR-SBIN0003308-HOLIDAY RESORTS-NETBANK, MUM-N304190967740808-TRIP PAYMENT'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='ATW-416021XXXXXX5238-E1AWBG05-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-E1AWBG05-BANGALORE'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='DBMCE74D5LKIEJ/RAZPTATAAIALIFEINSUR'),
 Row(Narration='0211025728 ASIAN PAINTS LTD INT DIV19 20'),
 Row(Narration='IMPS-930612479020-TATA AIA LIFE INSURA-HDFC-XXXXXXXX5155-0211191205551155'),
 Row(Narration='HGA1P0C1FB0032466711-AIRTELPREPAID-BILLP-04992990009335'),
 Row(Narration='50400144769413- RD INSTALLMENT-NOV 2019'),
 Row(Narration='POS 416021XXXXXX5238 DMART AVENUE SUP POS DEBIT'),
 Row(Narration='NF71165241981568A3/MAKEMYTRIP COM'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='RHDF8169415737/SBI CARDS'),
 Row(Narration='940600857/TECHTATASKY'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='00761610015950-TPT-LOAN TO FRIEND'),
 Row(Narration='CRV POS 416021******5238 1104 IRCTC'),
 Row(Narration='50400142916563- RD INSTALLMENT-NOV 2019'),
 Row(Narration='50400142916793- RD INSTALLMENT-NOV 2019'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='DEPOSITORY CHARGES OCT19 - 5421713'),
 Row(Narration='RHDF8192669679/BILLDKJIOMONEY'),
 Row(Narration='20191112068182159364/PAYTMIRCTCECATERING'),
 Row(Narration='20191112068473701826/PAYTMIRCTCECATERING'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='POS REF 416021******5238-11/22 IRCTC1177'),
 Row(Narration='NWD-416021XXXXXX5238-40782066-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='50400144204172- RD INSTALLMENT-NOV 2019'),
 Row(Narration='POS REF 416021******5238-11/26 IRCTC1177'),
 Row(Narration='POS REF 416021******5238-11/26 IRCTC1202'),
 Row(Narration='00772320000015SALARY CREDIT FOR NOV 19'),
 Row(Narration='108715896619/CCABATHANDBODYWORKSI'),
 Row(Narration='00761610015950-TPT-PAYING CREDIT-REDDY PRASAD K'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='50400144769413- RD INSTALLMENT-DEC 2019'),
 Row(Narration='50100177508055  -TPT-CIRYL-AMIR JABALLAH'),
 Row(Narration='DNZHMAP9ED1LUQ/RAZPDELHIPUBLICSCHOO'),
 Row(Narration='DNZKWR3ANGXANE/RAZPDELHIPUBLICSCHOO'),
 Row(Narration='RHDF8267410086/SBI CARDS'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='964303272/TECHTATASKY'),
 Row(Narration='NEFT DR-SBIN0060301-SWAPNIL ROY-NETBANK, MUM-N340191001613424-HIMU DHRUVI TT FEE'),
 Row(Narration='IB FD PREMAT PRINCIPAL-50300243419752'),
 Row(Narration='IB FD PREMAT INT PAID-50300243419752'),
 Row(Narration='IB FD PREMAT TAX RECOVERY-50300243419752'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBU62-BANGALORE-URB'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBU62-BANGALORE-URB'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBU62-BANGALORE-URB'),
 Row(Narration='CHQ PAID-MICR CTS-CH-GARUDA AUTOCRAFT  P'),
 Row(Narration='50400142916563- RD INSTALLMENT-DEC 2019'),
 Row(Narration='50400142916793- RD INSTALLMENT-DEC 2019'),
 Row(Narration='20191212072037366008/PAYTM'),
 Row(Narration='20191212072549909728/PAYTM'),
 Row(Narration='DEPOSITORY CHARGES NOV19 - 5421713'),
 Row(Narration='HD0128074565-BANGALOREELECTRICITY(BESCOM-50200026202917'),
 Row(Narration='RHDF8297566565/BILLDKBESCOM'),
 Row(Narration='IMPS-934619160811-BALASUBRAHMANYAM NP-HDFC-XXXXXXXXXX4609-TRIP EXPENSES'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='971073551/EBSAPSRTC'),
 Row(Narration='971077273/EBSAPSRTC'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='LQSHY5MNAV42HOG2/PAYUIREDEEMIN'),
 Row(Narration='REF-PAYTM-20191212072037366008-12/12/19'),
 Row(Narration='REF-PAYTM-20191212072037366008-12/12/19'),
 Row(Narration='POS 416021XXXXXX5238 IRCTC'),
 Row(Narration='POS 416021XXXXXX5238 DECATHLON SPORTS'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='50400144204172- RD INSTALLMENT-DEC 2019'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='20191227144118733456/PAYTMIRCTCECATERING'),
 Row(Narration='20191227144107318455/PAYTMIRCTCECATERING'),
 Row(Narration='983256890/EBSAPSRTC'),
 Row(Narration='00772320000015SALARY CREDIT FOR DEC 19'),
 Row(Narration='IB BILLPAY DR-HDFCPE-545964XXXXXX1449'),
 Row(Narration='RD THROUGH NET-50400169634941  :MADANLAL ANIL KUMAR CHOWDHARY'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='CREDIT INTEREST CAPITALISED'),
 Row(Narration='NEFT DR-SBIN0060301-SWAPNIL ROY-NETBANK, MUM-N002201024348067-KIDS TT COACH FEE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='50400144769413- RD INSTALLMENT-JAN 2020'),
 Row(Narration='RD THROUGH NET-50400170338560  :MADANLAL ANIL KUMAR CHOWDHARY'),
 Row(Narration='E0HCT6OIEU9YPS/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='E0HHYZY2AQNIKF/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='E0I6YYRNIIZPEF/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='E0IAQC3OVOILRY/RAZPRAZORPAYSOFTWARE'),
 Row(Narration='00531140026265-TPT-FAREWELL GIFT CONTRI-SUMESH MADHAVAN'),
 Row(Narration='RHDF8386022991/SBI CARDS'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='990828568/TECHTATASKY'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='20200107075926727409/PAYTMIRCTCECATERING'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='50400142916563- RD INSTALLMENT-JAN 2020'),
 Row(Narration='50400142916793- RD INSTALLMENT-JAN 2020'),
 Row(Narration='DEPOSITORY CHARGES DEC19 - 5421713'),
 Row(Narration='00761610015950-TPT-LOAN-REDDY PRASAD K'),
 Row(Narration='NET PO FROM HSL A/C 3403147-00602340029400'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='20200118077509964239/PAYTMIRCTCECATERING'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='20200123078337749664/PAYTMWALLETLOADING'),
 Row(Narration='50400144204172- RD INSTALLMENT-JAN 2020'),
 Row(Narration='102001034836951/CITRUSAIRTEL'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='20200129079072610807/PAYTM'),
 Row(Narration='REF-PAYTM-20200118077509964239-18/1/20'),
 Row(Narration='00772320000015SALARY CREDIT FOR JAN 202'),
 Row(Narration='IB BILLPAY DR-HDFCPE-545964XXXXXX1449'),
 Row(Narration='00762470027694-TPT-PAYING CREDIT-REDDY PRASAD K'),
 Row(Narration='50400169634941- RD INSTALLMENT-JAN 2020'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='ATW-416021XXXXXX5238-S1AWBE31-BANGALORE'),
 Row(Narration='RD CLOSURE THROUGH NET BANKING - 50400170338560'),
 Row(Narration='04462560003297-TPT-PAYMENT FOR KURTA-DRESS CODE'),
 Row(Narration='NEFT DR-SBIN0060301-SWAPNIL ROY-NETBANK, MUM-N033201052367548-TT FEE HIMU DHRUVI'),
 Row(Narration='50400144769413- RD INSTALLMENT-FEB 2020'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='1013897718/TECHTATASKY'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='NET PI TO HSL SEC A/C 3403147-00602340029400'),
 Row(Narration='IB FD PREMAT PRINCIPAL-50300310216520'),

In [81]:
pattern = ["DEPOSITORY CHARGES","NET PI TO HSL","NET PO FROM HSL","IRCTC","APSRTC","CAPITALISED","ATW-","SALARY CREDIT"]

for x in range(len(pattern)):
    print(pattern[x])

DEPOSITORY CHARGES
NET PI TO HSL
NET PO FROM HSL
IRCTC
APSRTC
CAPITALISED
ATW-
SALARY CREDIT

In [184]:
import pyspark.sql.functions as F
from pyspark.sql.types import *
import re


def findTxnCategory(value):
    pattern_list = ["DEPOSITORY CHARGES","NET PI TO HSL","NET PO FROM HSL","IRCTC","APSRTC","CAPITALISED"
                    ,"ATW-","SALARY CREDIT","DELHI PUBLIC SCHOOL","SBI CARDS"]
    for x in range(len(pattern_list)):
        pattern = re.compile(pattern_list[x])     
        if pattern.search(value):
            #print("Yes")
            return pattern_list[x]
        #else:
        #    print("No")
        #    return "No"
    return "OTHERS"

func_FindTxnCategory = F.udf(findTxnCategory,StringType())

In [185]:
print(findTxnCategory("MY IRCTC MONEY"))

IRCTC

In [186]:
df1 = df.withColumn("TXN_CATEGORY",func_FindTxnCategory("Narration"))

In [187]:
df1.select("TXN_CATEGORY").collect()

[Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='DELHI PUBLIC SCHOOL'),
 Row(TXN_CATEGORY='DELHI PUBLIC SCHOOL'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='DEPOSITORY CHARGES'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SALARY CREDIT'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SALARY CREDIT'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='CAPITALISED'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SALARY CREDIT'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='SALARY CREDIT'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='SALARY CREDIT'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='CAPITALISED'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='DEPOSITORY CHARGES'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SALARY CREDIT'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='DEPOSITORY CHARGES'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='SALARY CREDIT'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='DEPOSITORY CHARGES'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='SALARY CREDIT'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='CAPITALISED'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='DEPOSITORY CHARGES'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='IRCTC'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SALARY CREDIT'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='SBI CARDS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL'),
 Row(TXN_CATEGORY='DEPOSITORY CHARGES'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='APSRTC'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PO FROM HSL'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='SALARY CREDIT'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='ATW-'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='OTHERS'),
 Row(TXN_CATEGORY='NET PI TO HSL')]

In [188]:
df2 = df1.groupBy("TXN_CATEGORY").count().collect()

In [189]:
df2

[Row(TXN_CATEGORY='OTHERS', count=202),
 Row(TXN_CATEGORY='CAPITALISED', count=3),
 Row(TXN_CATEGORY='DEPOSITORY CHARGES', count=6),
 Row(TXN_CATEGORY='SBI CARDS', count=11),
 Row(TXN_CATEGORY='ATW-', count=49),
 Row(TXN_CATEGORY='SALARY CREDIT', count=10),
 Row(TXN_CATEGORY='DELHI PUBLIC SCHOOL', count=2),
 Row(TXN_CATEGORY='NET PO FROM HSL', count=13),
 Row(TXN_CATEGORY='IRCTC', count=31),
 Row(TXN_CATEGORY='APSRTC', count=12),
 Row(TXN_CATEGORY='NET PI TO HSL', count=28)]

In [190]:
df1.columns

['Date',
 'Narration',
 'Chq./Ref.No.',
 'Value Dt',
 'Withdrawal Amt.',
 'Deposit Amt.',
 'Closing Balance',
 'TXN_CATEGORY']

In [191]:
df1.select()

df1.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Narration: string (nullable = true)
 |-- Chq./Ref.No.: string (nullable = true)
 |-- Value Dt: string (nullable = true)
 |-- Withdrawal Amt.: double (nullable = true)
 |-- Deposit Amt.: double (nullable = true)
 |-- Closing Balance: double (nullable = true)
 |-- TXN_CATEGORY: string (nullable = true)

In [192]:
df2 = (df1.withColumnRenamed('Deposit Amt.', 'Deposit_Amt')
       .withColumnRenamed('Withdrawal Amt.', 'Withdrawal_Amt')
       .withColumnRenamed('Closing Balance', 'Closing_Bal')
      )
df2.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Narration: string (nullable = true)
 |-- Chq./Ref.No.: string (nullable = true)
 |-- Value Dt: string (nullable = true)
 |-- Withdrawal_Amt: double (nullable = true)
 |-- Deposit_Amt: double (nullable = true)
 |-- Closing_Bal: double (nullable = true)
 |-- TXN_CATEGORY: string (nullable = true)

In [193]:
df2.groupBy("TXN_CATEGORY").sum().show()

+-------------------+-------------------+------------------+--------------------+
|       TXN_CATEGORY|sum(Withdrawal_Amt)|  sum(Deposit_Amt)|    sum(Closing_Bal)|
+-------------------+-------------------+------------------+--------------------+
|             OTHERS| 1893467.4599999997|1079453.5799999998|1.6880214429999996E7|
|        CAPITALISED|               null|            2131.0|           444141.56|
| DEPOSITORY CHARGES|             1032.5|              null|           201468.18|
|          SBI CARDS|           222386.0|              null|          1341288.53|
|               ATW-|           729000.0|              null|   5506468.280000001|
|      SALARY CREDIT|               null|         1799897.0|          1962638.29|
|DELHI PUBLIC SCHOOL|            62000.0|              null|           344224.36|
|    NET PO FROM HSL|               null|         177048.23|          1355776.84|
|              IRCTC| 21412.990000000005|            5495.0|  1846165.0400000005|
|             APSRTC|             4745.0|              null|   687659.7800000001|
|      NET PI TO HSL|          305119.44|              null|  1353542.6000000003|
+-------------------+-------------------+------------------+--------------------+

In [206]:
df2.groupBy("TXN_CATEGORY").agg({"Withdrawal_Amt":"sum","Deposit_Amt":"sum","Narration":"count"}).filter(df2["TXN_CATEGORY"] == 'OTHERS').show()

+------------+------------------+-------------------+----------------+
|TXN_CATEGORY|  sum(Deposit_Amt)|sum(Withdrawal_Amt)|count(Narration)|
+------------+------------------+-------------------+----------------+
|      OTHERS|1079453.5799999998| 1893467.4599999997|             202|
+------------+------------------+-------------------+----------------+